@use 'variables' as *;

body {
    font-family: $font-family-main;
    color: $color-text;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-heading;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: $spacing-sm;
}

h1 {
    font-size: 3rem;

    @media (max-width: $breakpoint-tablet) {
        font-size: 2.25rem;
    }
}

h2 {
    font-size: 2.25rem;

    @media (max-width: $breakpoint-tablet) {
        font-size: 1.75rem;
    }
}

p {
    margin-bottom: $spacing-sm;
}