:root{
  --FELT_GREEN: #6BC690;
  --SHINY_SHAMROCK: #5EA378;
  --GOBLIN: #2F513C;
  --WELLINGTON: #506262;
  --FELT_WELLINGTON: linear-gradient(98.1deg, #506262 0.87%, rgba(107, 198, 144, 0.2) 84.01%), #506262;
  --VENICE_MINT: linear-gradient(188.99deg, #68FFB0 -165.73%, #BCF7D4 92.65%);
  --VENICE_MINT2: linear-gradient(188.99deg, #c0e3fb -165.73%, #dfebfa 92.65%);
  --MALDIVES: linear-gradient(270deg, rgba(107, 198, 185, 0.03) 0%, rgba(107, 198, 144, 0.08) 49.66%, rgba(7, 182, 213, 0.03) 98.72%);
  --LIGHT_GREEN_WASH: #D2E5D8;
  --PURE_EGG: linear-gradient(91.78deg, #FDF8C9 0.73%, #FFEEC0 99.82%);
  --BATS_BLOOD_SOUP: #EA325E;
  --GARDEN_VARIETY: #63BA8B;
  --SOFT_PEALS: #EDF8F1;
  --MALDIVES_INTENSE: linear-gradient(270deg, rgba(107, 198, 185, 0.06) 0%, rgba(107, 198, 144, 0.16) 49.66%, rgba(7, 182, 213, 0.06) 98.72%);
  --MALDIVES_INTENSE2: linear-gradient(270deg, rgba(117, 107, 198, 0.06) 0%, rgba(107, 160, 198, 0.16) 49.66%, rgba(7, 120, 213, 0.06) 98.72%);
  --WELLINGTON_BLACK: #394646;
  --BUTTON_BORDER: #AFF4CC;
  --BUTTON_BORDER2: #859dfc;
  --BLACK: #000000;
  --WHITE: #ffffff;
  --TEXT_STANDARD: #727482;
  --TRANSPARENT: transparent;
  --KUNUNU: linear-gradient(270deg, rgba(107, 198, 144, 0.16) 0%, rgba(107, 198, 144, 0) 88.78%);
  --HEADER_BACKGROUND: linear-gradient(98.1deg, #506262 0.87%, rgba(107, 198, 144, 0.2) 84.01%), #506262;
}